// place your custom styles here
// red highlight text
.highlight-red {
    color: tomato;
    font-weight: bold;
    font-size: 1.25em;
}
// violet highlight text
.highlight-violet {
    color: Violet;
    font-weight: bold;
    font-size: x-large;
}

h2 {
    border: none;
}

//--- page title div ------------------
.vp-page-title {
    margin-bottom: 20px;
}
.nav-screen-bottom-slot .vp-action-link {
    color: var(--vp-c-text-mute);
}
.vp-nav-screen-container {
    height: calc(100% - 6rem);
}
.vp-highlight-item {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px var(--vp-c-shadow);
}

//--- link ----------------------------
a::after {
    content: none !important; 
}
a [target="_blank"] {
    text-decoration: none; 
}

//--- date formatting ------------------
.date {
    color: var(--vp-c-text-mute);
    font-size: smaller
}
.inline {
    display: inline;
}

// in vehicle margin
.vehicle-margin-top {
    margin-top: 20px;
    margin-bottom: 5px;
}

// blue background color table in the main page
.td-blue {
    border: 1px solid #ddd;
    background-color: var(--main-c-blue);
    color: var(--main-c-grey);
    font-weight: bold;
    text-align: center;
}
// grey background color table in the main page
.td-grey {
    border: 1px solid #ddd;
    background-color: var(--main-c-grey);
    color: var(--main-c-blue);
    font-weight: bold;
    text-align: center;
}

// dotted blue underline
.underline-blue {
    border-bottom: dotted var(--main-c-blue) 0.2em;
    font-weight: bold;
}
.underline-margin {
    margin-top: 20px;
    margin-bottom: 15px;
}
// blod & underline
.underline-black {
    text-decoration: underline solid;
    text-underline-offset: 3px;
    font-weight: bold;
}
.top-margin {
    margin-top: 10px;
    margin-bottom: 0;
}

// h3 blue background 
.text-bg-blue {
    font-weight: bold;
    width: 100%;
    max-width: 350px;
    background-color: var(--main-c-blue);
    color: var(--main-c-grey);
    padding: 3px 3px 3px 3px;
}
// h2 grey background 
.text-bg-grey {
    font-weight: bold;
    background-color: rgb(71, 71, 71);
    color:#ddd;
    padding: 10px 10px 10px 10px;
    border-left: orange 3px solid;
}
// h3 white background 
.text-bg-white {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    border-left: orange 3px solid;
    border-bottom: var(--vp-c-border) 1px solid;
}

//--- collapsed text border ------------------
.collapsed-border {
    border: 1px solid var(--vp-c-border); 
    padding: 10px;
    margin: 10px 0 0 0;
}

//--- details ----------------
.details {
    max-width: fit-content;
}

//--- table ----------------------
table {
    table-layout:fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 0 ;
    padding: 0%;
    white-space: nowrap;
}
tfoot {
    color: var(--vp-c-text-mute);
    font-size: small;
}
td {
    padding: 5px
}
.gallery-table td {
    padding: 8px;
}
.top-table {
    margin-bottom: 10px;
}
.top-table td {
    padding: 8px 5px 8px 5px;
}

::-webkit-scrollbar {
    height: .5em;
    color: var(--table-bg-header)
}

//--- break line margin in location.md & vehicle ----------
.margin-top {
    margin-top: 1.8em;
}
.margin-top-bot {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}

//--- style in friendship.md --------------------
.link-friendship {
    color: var(--vp-c-text);
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    font-size: large;
}
.link-friendship:hover {
    color: var(--vp-c-accent-hover);
}
.div-friendship {
    padding-block: 10px;
    padding-inline-start: 0.5rem;
    border-radius: 5px;
}
.div-friendship:hover {
    background-color: var(--vp-c-control);
}

//--- sidebar style -----------------------------
.vp-sidebar-title {
    padding-block: 2px;
}
.vp-sidebar-link {
    padding-block: 5px;
}
.vp-nav-item a {
    font-weight: bold;
}

//--- friendship/ list style ---------------------------------
ul {
    list-style: square;
    margin: 0;
}
.list-double-space li {
    margin-bottom: 10px;
}
.list-double-space ul li {
    margin-top: 10px;
}

ol li {
    margin-block: 10px;
}

.footnote-adjust {
    margin-top: calc(0.5rem - var(--navbar-height));
    padding-top: calc(1rem + var(--navbar-height));
}

.img-icon {
    width: 15px;
    border-radius: 3px;
}

//--- history css ------------------------
.history-header {
    font-weight: bold;
    padding: 3px 0 3px 10px;
    width: 100%;
    max-width: 500px;
}
.header-highlight1 {
    background-color: #f7f7f7;
    color: rgb(60 60 67);
}
.header-highlight2 {
    background-color: #dbdbdb;
    color: rgb(60 60 67);
}
.header-highlight3 {
    background-color: #b6b6b6;
    color: rgb(60 60 67);
}
.header-highlight4 {
    background-color: #777777;
    color: rgb(235 235 245 / 86%);
}
.header-highlight5 {
    background-color: #4e4e4e;
    color: rgb(235 235 245 / 86%);
}

.clothes-img {
    width: 130px;
    height: 300px;
    border-radius: 3px;
}

// highlight styles
// .highlight {
//     background-color: grey;
//     transition: background-color 0.5s ease-out;
// }
//   /* Fade-out effect back to transparent */
// .fade-out {
//     background-color: transparent; /* Adjust based on your original background */
//     transition: background-color 0.5s ease-out;
// }

// image in the table 
// .img-button {
//     float: left;
//     border-radius: 8px;
//     width: 35px;
//     height: 30px;
//     border: 1px solid gray;
// }
